<div class="container">
    <div class="card">
        <div class="card-header">
            PizzaCalculator
        </div>
        <div class="card-body">
            <div class="container">
                <form>
                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                        <div class="w-auto">
                            <label for="pizzaNumber">Anzahl der Pizzen:</label>
                            <input class="form-control" name="pizzaNumber" type="number" min="0"
                                [(ngModel)]="pizzaInfo.pizzaNumber" (change)="updatePizzaInfos()">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                        <div class="w-auto">
                            <label for="pizzaSize">Pizzateig Gewicht je Pizza:</label>
                            <div class="input-group mb-2">
                                <input class="form-control" name="pizzaSize" type="number"
                                    [(ngModel)]="pizzaInfo.pizzaSize" min="200" max="300" (change)="updatePizzaInfos()">
                                <div class="input-group-append">
                                    <div class="input-group-text">g</div>
                                </div>
                            </div>
                        </div>
                        <div class="align-self-end ml-3">
                            <small>200g = kleine Pizza, 300g = große Pizza</small>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                        <div class="w-auto">
                            <label for="pizzaWater">Wasseranteil des Teigs:</label>
                            <div class="input-group mb-2">
                                <input class="form-control" name="pizzaWater" type="number"
                                    [(ngModel)]="pizzaInfo.pizzaWater" min="50" max="70" (change)="updatePizzaInfos()">
                                <div class="input-group-append">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                        <div class="align-self-end ml-3">
                            <small>Wasseranteil von 50% bis 70%</small>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="container">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="w-auto mt-5">
                        <h2>Pizzateig</h2>
                        <h3>{{dough.flour}} g Mehl</h3>
                        <h3>{{dough.water}} ml Wasser</h3>
                        <h3>{{dough.salt}} g Salz</h3>
                        <h3>{{dough.yeast}} g Hefe</h3>
                    </div>
                    <div class="w-auto mt-5">
                        <h2>Pizzateig - Spezial</h2>
                        <h3>{{(dough.flour * 1/3).toFixed(1)}} g Mehl <small>Type 1050</small></h3>
                        <h3>{{(dough.flour * 2/3).toFixed(1)}} g Mehl <small>Type 405</small></h3>
                        <h3>{{dough.water}} ml Wasser</h3>
                        <h3>{{dough.salt}} g Salz</h3>
                        <h3>{{dough.yeast}} g Hefe</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>